.span8
  .hero-unit
    %h1= @topic.title
    %hr
    %p
      = @topic.description.html_safe
      .btn.btn-warning= link_to 'Edit', edit_wiki_topic_path(@topic), :style => 'color: black'
      .btn.btn-danger= link_to 'Destroy', wiki_topic_path(@topic), :method => 'delete', :confirm => true, :style => 'color: black'
  - @topic.wiki_pages.each_slice(3) do |pages|
    .row-fluid
      - pages.each do |page|
        .span4
          %h2= page.title
          %p= strip_tags(page.description)
          %p
            %a.btn{:href => wiki_page_path(page)} gimme more »
