.span8
  .hero-unit
    %h1= @wiki.name
    %hr
    %p
      = @wiki.homepage.html_safe
      .btn.btn-warning= link_to 'Edit', edit_wiki_path(@wiki), :style => 'color: black'
      .btn.btn-danger= link_to 'Destroy', wiki_path(@wiki), :method => 'delete', :confirm => true, :style => 'color: black'
  - @wiki.wiki_topics.each_slice(3) do |topics|
    .row-fluid
      - topics.each do |topic|
        .span4
          %h2= topic.title
          %p= topic.description.html_safe
          %p
            %a.btn{:href => wiki_topic_path(topic)} gimme more »
